.navbar_wrap {
    display: flex;
    justify-content: center;
    gap: 450px;
    background-color: rgb(198, 248, 118);
    border-bottom: 2px solid gray;
    padding: 10px;
}

.navbar_title {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: gray;
    margin-right: 7px;
    margin-left: 7px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
}

.title {
    color: gray;
    font-weight: bold;
}

.logout_link {
    text-decoration: none;
    color: rgb(170, 44, 44);
    font-weight: bold;
    margin-left: 8px;
}