

.phone_part {
    display: flex;
    width:600px;
    flex-direction: column;
    flex-wrap:wrap;
    align-content:center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(100, 148, 238);
    border-radius: 10px;
    background-color: rgb(135, 210, 223);
    box-shadow: 3px 3px 3px grey;
}

.title {
    display: flex;
    width:600px;
    flex-direction: column;
    flex-wrap:wrap;
    align-content:center;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
    background-color: rgb(106, 151, 235);
    border-radius: 10px;
    background-color: rgb(13, 85, 40);
    box-shadow: 3px 3px 3px grey;
}


